*.exe
test/in.txt
.competitive-verifier/venv/
.competitive-verifier/cache/
.competitive-verifier/bundled/
.competitive-verifier/_jekyll/
.competitive-verifier/site/
.competitive-verifier/vendor/
.sass-cache/
